<div id="fullpage">
  <%= erb :'front/section/intro.html' %>
  <%= erb :'front/section/pitch.html' %>
  <%= erb :'front/section/features.html' %>
  <!--<%= erb :'front/section/rewards.html' %>
  <%= erb :'front/section/social.html' %>
  <%= erb :'front/section/footer.html' %> -->
</div>

<div id="fullpage-bg"></div>
